<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scheduller</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  
  <!-- dataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loader.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pilihJadwal.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/input.css') }}">

  <script src="{{ url_for('static',filename='scripts/pilihJadwal.js') }}"></script>
  <script src="{{ url_for('static',filename='scripts/timePicker.js') }}"></script>

</head>

<body>
  <!-- LOADER -->
  <div class="loadScreen">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster loader">
      <div class="wheel"></div>
      <div class="hamster">
        <div class="hamster__body">
          <div class="hamster__head">
            <div class="hamster__ear"></div>
            <div class="hamster__eye"></div>
            <div class="hamster__nose"></div>
          </div>
          <div class="hamster__limb hamster__limb--fr"></div>
          <div class="hamster__limb hamster__limb--fl"></div>
          <div class="hamster__limb hamster__limb--br"></div>
          <div class="hamster__limb hamster__limb--bl"></div>
          <div class="hamster__tail"></div>
        </div>
      </div>
      <div class="spoke"></div>
    </div>
  </div>
  <!-- outer div -->
  <div id="outerDiv">

    <h1 class="m-5">Pilih Jadwal Anda</h1>

    <!-- inner div -->
    <div class="row">

      <!-- Bagian Filter -->
      <div class="col-lg-2 m-3 mx-auto" style="max-width: 500px;">

        <div class="headerInput rounded-top bg-success text-success shadow p-3" style="--bs-bg-opacity: 0.25;">
          <h5 class="my-auto">FILTER YANG DIINGINKAN</h5>
        </div>

        <div class="inputContent pt-4 bg-success p-3 rounded-bottom shadow text-white">
          <!-- Jumlah SKS -->
          <label for="jumSKS">Jumlah SKS</label>
          <div class="input-group mt-2 mb-3" id="jumSKS">
            <input type="text" aria-label="sksAwal" id="minSKS" name="minSKS" class="form-control rounded" placeholder="Min" value="18">
            <p class="mx-3 my-auto"> - </p>
            <input type="text" aria-label="sksAkhir" id="maxSKS" name="maxSKS" class="form-control rounded" placeholder="Max" value="24">
          </div>

          <!-- Jumlah Jam per hari  -->
          <!-- <label for="">Jumlah Jam per Hari</label>
          <div class="input-group mt-2 mb-3">
            <input type="text" aria-label="jamMulai" class="form-control rounded">
            <p class="mx-3 my-auto"> - </p>
            <input type="text" aria-label="jamSelesai" class="form-control rounded">
          </div> -->

          <!-- Hari Masuk  -->
          <label for="hariMasuk">Hari Masuk</label>
          <div class="multipleSelection mt-2 mb-3" id="hariMasuk">
            <div class="selectBox" onclick="showCheckBoxHari()">
              <select class="form-select">
                <option>Pilih Hari...</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkBoxHari" class="checkBox bg-white text-dark rounded px-3 my-3 py-2">
              <label for="senin">
                <input type="checkbox" class="inputHari form-check-input" id="senin" value="0" name="senin" checked/>
                Senin
              </label>
              <label for="selasa">
                <input type="checkbox" class="inputHari form-check-input" id="selasa" value="1" name="selasa" checked/>
                Selasa
              </label>
              <label for="rabu">
                <input type="checkbox" class="inputHari form-check-input" id="rabu" value="2" name="rabu" checked />
                Rabu
              </label>
              <label for="kamis">
                <input type="checkbox" class="inputHari form-check-input" id="kamis" value="3" name="kamis" checked />
                Kamis
              </label>
              <label for="jumat">
                <input type="checkbox" class="inputHari form-check-input" id="jumat" value="4" name="jumat" />
                Jumat
              </label>
              <label for="sabtu">
                <input type="checkbox" class="inputHari form-check-input" id="sabtu" value="5" name="sabtu"/>
                Sabtu
              </label>
            </div>
          </div>

          <!-- JAM PER HARI -->
          <h6>MAKS. JAM PER HARI</h6>
          <!-- SENIN -->
          <div class="row jamHari jamSenin">
            <label for="jamSenin" class="col-sm-6 col-form-label">Senin</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamSenin" name="jamSenin" value='12'>
            </div>
          </div>

          <!-- SELASA -->
          <div class="row mt-1 jamHari jamSelasa">
            <label for="jamSelasa" class="col-sm-6 col-form-label">Selasa</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamSelasa" name="jamSelasa" value='12'>
            </div>
          </div>

          <!-- RABU -->
          <div class="row mt-1 jamHari jamRabu">
            <label for="jamRabu" class="col-sm-6 col-form-label">Rabu</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamRabu" name="jamRabu" value='12'>
            </div>
          </div>

          <!-- KAMIS -->
          <div class="row mt-1 jamHari jamKamis">
            <label for="jamKamis" class="col-sm-6 col-form-label">Kamis</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamKamis" name="jamKamis" value='12'>
            </div>
          </div>

          <!-- JUMAT -->
          <div class="row mt-1 jamHari jamJumat">
            <label for="jamJumat" class="col-sm-6 col-form-label">Jumat</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamJumat" name="jamJumat" value='0'>
            </div>
          </div>

          <!-- SABTU -->
          <div class="row mt-1 jamHari jamSabtu">
            <label for="jamSabtu" class="col-sm-6 col-form-label">Sabtu</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="jamSabtu" name="jamSabtu" value='0'>
            </div>
          </div>

          <!-- Dosen yang Diinginkan  -->
          <label for="dosenIngin">Dosen yang Diinginkan</label>
          <div class="multipleSelection mt-2 mb-3" id="dosenIngin">
            <div class="selectBox" onclick="showCheckboxDosen()">
              <select class="form-select">
                <option>Pilih Dosen...</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkBoxDosen" class="checkBox bg-white text-dark rounded px-3 my-3 py-2">
                <!-- context dosen get by ajax -->
            </div>
          </div>

          <label for="matkulIngin">Mata Kuliah yang diprioritaskan :</label>
          <div class="multipleSelection mt-2 mb-3" id="matkulIngin">
            <div class="selectBox" onclick="showCheckboxMatkul()">
              <select class="form-select">
                <option>Pilih Matkul...</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkBoxMatkul" class="checkBox bg-white text-dark rounded px-3 my-3 py-2">
              <!-- context matkul get by ajax -->
            </div>
          </div>

        </div>

      </div>
      <!-- close filter -->

      <!-- table section -->
      <div class="col-lg-9">

        <div class="shadow rounded p-3 me-3">
          <div class="d-flex gap-3 ms-4 mt-4">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i> Tambah Mata kuliah</button>
            <input type="file" id="upload" name="upload"
              accept=".csv" hidden>
            <button type="button" class="btn btn-outline-success uploadButton"><label for="upload" id="uploadLabel"><i
                  class="fa-solid fa-upload"></i>
                Upload Mata
                Kuliah</label></button>
          </div>

          <!-- table -->
          <div class="mt-4 mt-5">
            <table class="table table-striped text-center" id="myTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama Mata Kuliah</th>
                  <th scope="col">Nama Dosen</th>
                  <th scope="col">Kelas Paralel</th>
                  <th scope="col">SKS</th>
                  <th scope="col">Hari</th>
                  <th scope="col">Jadwal</th>
                  <th scope="col">Select</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <!-- close table div -->
          <button type="button" class="btn btn-warning my-3 ms-3 generateButton">Generate</button>
        </div>

        <!-- table hasil 1 -->
        <div class="mt-4 mt-5 p-4 me-3 boxHasil">
          <h2 style="margin-top: 0.7em">Pilihan Pertama</h2>
          <br>
          <table class="table table-striped text-center" id="table1" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">SKS</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>

            </tbody>
          </table>
        </div>

        <!-- Jadwal Ujian hasil 1 -->
        <div class="mt-4 mt-5 p-4 me-3 boxHasil">
          <h2 style="margin-top: 0.7em">Jadwal Ujian Pilihan Pertama</h2>
          <br>
          <table class="table table-striped text-center" id="tableUjian1" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">Ruangan</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Minggu ke-</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>

            </tbody>
          </table>
        </div>

        <!-- table hasil 2 -->
        <div class="mt-4 mt-5 p-4 me-3 boxHasil">
          <h2 style="margin-top: 0.7em">Pilihan Kedua</h2>
          <br>
          <table class="table table-striped text-center" id="table2" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">SKS</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>
              
            </tbody>
          </table>
        </div>

        <!-- Jadwal Ujian hasil 2 -->
        <div class="mt-4 mt-5 p-4 me-3 boxHasil">
          <h2 style="margin-top: 0.7em">Jadwal Ujian Pilihan Kedua</h2>
          <br>
          <table class="table table-striped text-center" id="tableUjian2" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">Ruangan</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Minggu ke-</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>

            </tbody>
          </table>
        </div>

       <!-- table hasil 3 -->
        <div class="mt-4 mt-5 p-4 me-3 boxHasil">
          <h2 style="margin-top: 0.7em">Pilihan Ketiga</h2>
          <br>
          <table class="table table-striped text-center" id="table3" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">SKS</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>
              
            </tbody>
          </table>
        </div>

        <!-- Jadwal Ujian hasil 3 -->
        <div class="mt-4 mt-5 col-md-9 col-11 p-4 boxHasil">
          <h2 style="margin-top: 0.7em">Jadwal Ujian Pilihan Ketiga</h2>
          <br>
          <table class="table table-striped text-center" id="tableUjian3" style="margin-top: 1em;">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Kelas Paralel</th>
                <th scope="col" class="text-center">Ruangan</th>
                <th scope="col" class="text-center">Hari</th>
                <th scope="col" class="text-center">Minggu ke-</th>
                <th scope="col" class="text-center">Jadwal</th>

              </tr>
            </thead>
            <!-- BODY -->
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
      <!-- close table section -->
    </div>
  </div>
  <!-- close inner div -->
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body mt-5" id="modalBody">
          <form class="form text-success" id="insert_matkul">
            <ul class="wrapper">
              <li style="--i:14;">
                <div class="input row text-center">
                  <label class="form-label text-success"><h3>Input Mata Kuliah</h3></label>
              </div>
              </li>
              <li style="--i:13;">
                <div class="input row">
                  <label class="form-label col-3" for="nama">{{ form.nama.label }}</label>
                  {{ form.nama(class_="form-control form-control-sm col", placeholder="Nama Mata Kuliah (maks 64 huruf)") }}
          </div>
              </li>
              <li style="--i:12;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.sing.label }}</label>
                  {{ form.sing(class_="form-control form-control-sm col", placeholder="Nama Singkatan (maks 10 huruf)") }}
                </div>
              </li>
              <li style="--i:11;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.par.label }}</label>
                  {{ form.par(class_="form-control form-control-sm col", placeholder="Kelas Paralel (1 huruf)") }}
                </div>
              </li>
              <li style="--i:10;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.dos.label }}</label>
                  {{ form.dos(class_="form-control form-control-sm col", placeholder="Nama Dosen (maks 64 huruf)") }}
                </div>
              </li>
              <li style="--i:9;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.rua.label }}</label>
                  {{ form.rua(class_="form-control form-control-sm col", placeholder="Ruangan (maks 25 huruf)") }}
                </div>
              </li>
              <li style="--i:8;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.hari_kuliah.label }}</label>
                  {{ form.hari_kuliah(class_="form-select form-select-sm form-control form-control-sm col", placeholder="Hari Kuliah") }}
                </div>
              </li>
              <li style="--i:7;">
                <div class="input input-group row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.jam_mulai.label }}</label>
                  {{ form.jam_mulai(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Jam Mulai") }}
                  {{ form.menit_mulai(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Menit Mulai") }}

                  <label class="form-label col-3 ml-5 pl-5 text-center" for="namaMataKuliah">{{ form.jam_selesai.label }}</label>
                  {{ form.jam_selesai(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Jam Selesai") }}
                  {{ form.menit_selesai(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Menit Selesai") }}
                </div>
              </li>
              <li style="--i:6;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.sks.label }}</label>
                  {{ form.sks(class_="form-control form-control-sm col", placeholder="Jumlah SKS") }}
          </div>
              </li>
              <li style="--i:5;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.minggu_ujian.label }}</label>
                  {{ form.minggu_ujian(class_="form-select form-select-sm form-control form-control-sm col", placeholder="Minggu Ujian") }}
          </div>
              </li>
              <li style="--i:4;">
                <div class="input row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.hari_ujian.label }}</label>
                  {{ form.hari_ujian(class_="form-select form-select-sm form-control form-control-sm col", placeholder="Hari Ujian") }}
                </div>
              </li>
              <li style="--i:3;">
                <div class="input input-group row">
                  <label class="form-label col-3" for="namaMataKuliah">{{ form.jam_mulai_ujian.label }}</label>
                  {{ form.jam_mulai_ujian(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Jam Mulai") }}
                  {{ form.menit_mulai_ujian(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Menit Mulai") }}

                  <label class="form-label col-3 ml-5 pl-5 text-center" for="namaMataKuliah">{{ form.jam_selesai.label }}</label>
                  {{ form.jam_selesai_ujian(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Jam Selesai") }}
                  {{ form.menit_selesai_ujian(class_="form-select form-select-sm form-control form-control-sm col-1", placeholder="Menit Selesai") }}
                </div>
              </li>
              <button style="--i:2;" id="inputMatkul"><h5>SUBMIT</h5></button>
              <button style="--i:1;" class="cancelButton" data-bs-dismiss="modal"><h5>CLOSE</h5></button>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>